$delay: 0s;
$duration: 0.4s;

@keyframes fade-down {
	from {
		opacity: 0;
		bottom: 3rem;
	}
	to {
		opacity: 1;
		bottom: 0;
	}
}
@mixin fade-down($delay, $duration) {
	animation-name: fade-down;
	animation-duration: $duration;
	animation-delay: $delay;
	animation-timing-function: cubic-bezier(0.34, 1.25, 0.64, 1);
	animation-fill-mode: forwards;

	position: relative;
	opacity: 0;
}

.cardskeleton {
	width: 100%;
	max-width: 20rem;
	height: 35rem;
	margin: 10px;
	border-radius: 10px;
	background-color: #e0e0e0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Master layout for the page */
.container {
	display: grid;
	grid-template-columns: 5em 1fr 5em;
	grid-template-rows: repeat(2, auto) 5em;
	grid-gap: 1em 1em;
}

/* Parent container for the cards */
.cardcontainer {
	grid-area: 1 / 2 / 3 / 4;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-top: 6rem;
}

/* Style for the individual cards */
.cardcontainer .card {
	width: 100%;
	max-width: 20rem;
	height: 35rem;
	margin: 10px;
	overflow: hidden;
	border-radius: 10px;
	background-color: #2a2a2b;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: 0.5s ease;

	/* load-in animation */
	@for $i from 1 through 20 {
		&:nth-of-type(#{$i}) {
			@include fade-down($i/5 + s, 1s);
		}
	}

	/* pop-out animation */
	&:hover {
		transition: 0.5s ease;
		transform: translate(5px, -5px);
		opacity: 0.8;
	}
}

.cardcontainer .card .card-header img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cardcontainer .card .card-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 20px 25px;

	h3 {
		font-size: 20px;
		margin: 0 0 15px;
	}

	.tag-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-end;
		margin-bottom: 15px;
		.tag {
			border-radius: 30px;
			font-size: 10px;
			margin: 0 5px 5px 0;
			color: #fff;
			padding: 6px 10px;
			text-transform: uppercase;
			cursor: pointer;
		}
		/* add more colors for tags */
		.tag-purple {
			background-color: #5e76bf;
		}
	}

	p {
		font-size: 14px;
		color: #cccccc;
		margin: 0 0 10px;
	}
}

/* style override for react-markdown */
.description {
	font-family: 'Inconsolata', sans-serif;
}

.description > h1,
.description > h2,
.description > h3 {
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

@keyframes spin {
	to {
		transform: rotate(1turn);
	}
}

/* loading animation*/
.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 6rem);
}

.loading::before {
	content: 'loading';
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	margin: 1rem;
	border: 0.5rem solid #ccc;
	border-top-color: #333;
	animation: spin 1s linear infinite;
}

/* style for pagination */
.paginationcontainer {
	grid-area: 3 / 2 / 4 / 4;
}

.pagination {
	grid-area: 3 / 2 / 4 / 4;
	text-align: center;
	margin: 10px;
}

/* Media queries */
@media (min-width: 720px) and (max-width: 1023px) {
	.nftcards {
		width: 50%;
	}
}

@media (min-width: 1024px) {
	.nftcards {
		width: 25%;
	}
}
