/* The parent container for the page */
.container {
	width: 100%;
	padding: 20px;
}

/* Style for the NFT cards */
.nftcards {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	gap: 20px 20px;
}
